.h1{
    background: linear-gradient(to bottom,
    #dd2476,#ff512f
);
    color:white;
    margin: 0;
    padding: 20px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    border-radius: 10px;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}

li{
    background:#fff;
    height: 40px;
    line-height: 40px;
    color:rgb(68, 68, 68);
    display:flex;
    flex-direction: row;
    
}
.icon{
    float:right;
    text-transform:none;
}
li:nth-child(2n){
    background:#f7f7f7;
}

h1 span{
    width:40px;
    color:white;
   
}
span{
    background:#e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color:white;
    width:0px;
    display:inline-block;
    transition: 0.3s linear;
    opacity:0;
    margin-top: 0;
    border-radius: 0px 10px 10px 0px;
   
}
 .fa-trash-alt{
    margin-top: 11px;
 }
li:hover span{
    width:40px;
    opacity:1;
    text-align: center;
    
}

input {
    font-size:18px;
    background-color:#f7f7f7;
    width:100%;
    padding: 13px 13px 13px 20px;
    border:none;
    box-sizing: border-box;
    color:#2980b9;
}

input:focus{
    background:#fff;
    border: 3px solid #2980b9;
    outline :none;
}

#container{
   
    width:70%;
    margin:100px auto;
    background:#f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    border-start-start-radius: 20px;
   
}

.task{
    color:gray;
    text-decoration:line-through;
    transition: opacity 1s;

}
#delete{
    transition: 0.8s;
    opacity:0;
}